.loader {
  $loader-size: 4rem;
  $loader-overlay-size: 100%;
  $loader-color-overlay: var(--color-blue-alpha);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $loader-overlay-size;
  height: $loader-overlay-size;
  background-color: $loader-color-overlay;

  .icon-pokeball {
    width: $loader-size;
    height: $loader-size;
    animation: rotate infinite 2s linear;
    color: var(--text-color);
  }

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
