@import './_variables';
@import './reboot';
@import './components/button';
@import './components/icon';
@import './components/loader';

:root {
  --gutter: 1rem;
  --transparent: rgba(255, 255, 255, 0);
  --color-blue: #3669ae;
  --color-blue-alpha: rgb(54, 105, 174, .4);
  --color-red: #e1371f;
  --color-yellow: #feca30;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.pokedex {
  padding: var(--gutter);
  color: var(--text-color);

  &-header {
    margin-bottom: var(--gutter);
    color: #fff;
    text-align: center;
  }

  &-title {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
  }

  &-nav {
    padding-top: var(--header-gutter);
  }

  &-navList {
    padding-left: 0;
    list-style: none;
  }

  &-navItem {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &-button {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      .icon-pokeball {
        fill: var(--link-color-hover);
      }
    }
  }

  &-detailHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
  }

  &-gender {
    text-align: center;
  }

  &-stats {
    padding: var(--gutter);
    font-size: .875rem;
    color: #fff;
    background-color: var(--color-blue);
    border-radius: .5rem;
  }

  &-stat {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &-label {
    font-weight: 300;
  }
}
