@import './_variables';
@import './reboot';
@import './components/button';
@import './components/icon';
@import './components/loader';

:root {
  --gutter: 1rem;
  --transparent: rgba(255, 255, 255, 0);
  --color-blue: #3669ae;
  --color-blue-alpha: rgb(54, 105, 174, .4);
  --color-red: #e1371f;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.pokedex {
  padding: var(--gutter);
  color: var(--text-color);

  @media screen and (min-width: $sm) {
    display: grid;
    max-width: calc(#{$sm} - (var(--gutter) * 2));
    margin-right: auto;
    margin-left: auto;
    grid-template-areas:
      'header header'
      'navigation detail';
    grid-template-rows: 110px auto;
    grid-template-columns: 1fr 2fr;
  }

  &-header {
    margin-bottom: var(--gutter);
    color: #fff;
    text-align: center;

    @media screen and (min-width: $sm) {
      grid-area: header;
    }
  }

  &-title {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
  }

  &-nav {
    padding-top: var(--header-gutter);

    @media screen and (min-width: $sm) {
      grid-area: navigation;
    }
  }

  &-navList {
    padding-left: 0;
    list-style: none;
  }

  &-navItem {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &-button {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      .icon-pokeball {
        transform: rotate(180deg);
        transition: transform .3s ease-in-out;
        fill: var(--color-red);
      }
    }
  }

  &-detail {
    @media screen and (min-width: $sm) {
      grid-area: detail;
    }
  }

  &-detailHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
  }

  &-gender {
    margin-right: auto;
    margin-left: auto;
  }

  &-stats {
    position: relative;
    padding: var(--gutter);
    font-size: .875rem;
    color: #fff;
    background-color: var(--color-blue);
    border-radius: .5rem;
  }

  &-stat {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &-label {
    font-weight: 300;
  }

  &-icon {
    position: absolute;
    top: var(--gutter);
    right: var(--gutter);
  }
}
