@import './_variables';
@import './reboot';
@import './components/button';
@import './components/icon';
@import './components/loader';

:root {
  --gutter: 1rem;
  --transparent: rgba(255, 255, 255, 0);
  --color-blue: #3669ae;
  --color-blue-alpha: rgb(54, 105, 174, .4);
  --color-red: #dd2d51;
  --text-color: #222;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height;
}

.pokedex {
  padding: var(--gutter);
  color: var(--text-color);

  @media screen and (min-width: $sm) {
    max-width: calc(#{$sm} - (var(--gutter) * 2));
    margin-right: auto;
    margin-left: auto;
  }

  &-header {
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
  }

  &-title {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
  }

  &-nav {
    padding: 1rem;
    background: #f9f9f9;
    border-radius: $border-radius;
  }

  &-navList {
    padding-left: 0;
    list-style: none;
  }

  &-navItem {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  &-button {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      .icon-pokeball {
        transform: rotate(180deg);
        transition: transform .3s ease-in-out;
        fill: var(--color-red);
      }
    }
  }

  &-detail {
    margin-bottom: 2rem;

    @media screen and (min-width: $sm) {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 1rem;
    }
  }

  &-detailHeader {
    align-self: start;
    margin-bottom: var(--gutter);
    text-align: center;
  }

  &-name {
    font-size: 1.125rem;
    font-weight: 500;
  }

  &-gender {
    display: flex;
  }

  &-genderIcon {
    & + & {
      margin-left: 1rem;
    }
  }

  &-section {
    margin-bottom: 1rem;
  }

  &-attributes {
    position: relative;
    padding: var(--gutter);
    font-size: .875rem;
    color: #fff;
    background-color: var(--color-red);
    border-radius: $border-radius;
  }

  &-attribute {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &-label {
    margin-bottom: .25rem;
    font-weight: 500;
  }

  &-icon {
    position: absolute;
    top: var(--gutter);
    right: var(--gutter);
  }

  &-typeList {
    display: flex;
  }

  &-type {
    padding: .25rem .5rem;
    font-size: .875rem;
    color: #fff;
    border-radius: $border-radius;

    & + & {
      margin-left: .5rem;
    }

    &--fire {
      background-color: #fd7d24;
    }
    &--flying {
      background-color: #3dc7ef;
    }
    &--grass {
      background-color: #9bcc50;
    }
    &--poison {
      background-color: #b97fc9;
    }
    &--water {
      background-color: #4592c4;
    }
  }

  &-stats {
    display: grid;
    padding: var(--gutter);
    color: #fff;
    background: var(--color-blue);
    border-radius: $border-radius;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px auto;
    grid-column-gap: .5rem;
  }

  &-stat {
    display: grid;
    text-align: center;
    grid-template-rows: 1fr calc(#{$line-height} * #{$font-size-stat-label} * 2 );
  }

  &-statLabel {
    font-size: $font-size-stat-label;
  }

  &-statValue {
    align-self: end;
    margin-bottom: .25rem;
    background-color: #fff;
  }
}
